.background{
    background-image: url('../assets/img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
}
.border_position{
    outline: auto;
    color: black;
    background-color: rgba(252, 255, 59, 0.105);
    display: block;
}
.li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 4, 135);
}
.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(15, 15, 144);
    text-align: center;
    text-size-adjust: 100%;
}
.font2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(15, 15, 144);
    display: block;
}
.mainstuff{
    position: absolute;
    top:25%;
}
.link{
    color: rgb(4, 4, 135);
}
.link:hover {
    font-size: 110%;
}
.link2{
    color: rgb(226, 249, 113);
    font-size: large;
    background-color: rgba(2, 8, 14, 0.544);
}
.link2:hover {
    font-size: 120%;
}
.video{
    padding-left: 2%;
    
}
#video2{
    text-align: right;
    padding-left: 21%;
}
.video3{
    display: relative;
}
.img{
    border-radius: 50%;
}
